

#topSection{
    background-color: #393E46;
  
    border-radius: 20px ;
  
}
#userImg{
    border-radius: 50%;
    width: 11vh;
    height:100px;
    border: 3px solid white;
    margin-bottom: 8px;
}
#name{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

#blog{
 
  background-color:#393E46;
  border-radius: 10px;
}

#userImgBlog{
    border-radius: 50%;
    width: 5vh;
    height:50px;
    border: 3px solid gray;
    margin-bottom: 8px;
  
}
*{
    color: white;
    
}
#body{
    background-color: #18191A;
}
.f{
    font-size: 0.8rem;
    
}
h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
#FollImg{

    border-radius:50%;
    width: 40%;
    height:120px;
    border: 1px solid black;
    margin-bottom: 8px;
}
.f{
    overflow: auto;
}
#editUser{
   font-size: 30px;
    
}
#editUser:hover{
    color: rgb(183, 182, 185);
    text-decoration-line: none;
}
.navbar{
    box-shadow: gray 20px 20px 70px;
    background-color:   #18191A;
 
}
#deleteBlog{
color: cadetblue;
font-size: 18px;
vertical-align: bottom;
}

a{
    border:1px solid rgb(116, 115, 115);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}