


<div class="mt-3 ml-3 mr-3 " id="body" >
    <!--begin  blog -->
    <section class="  col-12 col-md-6 d-inline-block   " *ngIf="blog!=null " >
        <!--user  data-->
       <div >
        <img src="{{'http://localhost:9000/'+blog.author.img}} " id="userImg"/>
            <span id="name" class="ml-3">
              {{blog.author.Name}}
            </span>
       </div>
      
       <!--blog content-->
       <div class="mt-3">
           <p  id="title">  {{blog.title}} </p>
           <div>
             <p class="mr-5">
                {{blog.body}}
             </p>

            

           </div>
       </div>
      
       <img src="{{'http://localhost:9000/'+blog.img}} " id="imgBody"/>


     <form [formGroup]="commentform"  (ngSubmit)="onsubmit(blog._id)">
        <div class="form-group d-inline  ">
            <textarea class="form-control col-6 d-inline mt-5" id="exampleFormControlTextarea1" rows="3" #text placeholder="add comment" style="resize: none;" formControlName="comment"></textarea>
            <img  id="commentImg" [src]="imageURL " *ngIf="imageURL && imageURL !== ''" style="margin-top: -75px; margin-left: 20px;" />
                <span id="cam2" class="ml-3">
                    <label for="file-input">
                      <i class="fa fa-camera" style="font-size:22px;color: rgb(22, 3, 3);"></i>
                    </label>
                    <input id="file-input" type="file" (change)="onFileSelect($event)" />
                </span>
              <label for="add"  class="align-top">
                <i class="fa fa-location-arrow align-top send"></i>
              </label>
              <input id="add" type="submit" class="d-none"  >

              </div>
       </form>

    </section>
    <!--end  blog -->
      
    <!-- begin comment-->
      <div class="row" class=" col-12 col-md-6 d-inline-block   align-top  "  style="height:80vh; overflow: auto;">
          <div class="col-md-8" *ngFor="let c of comments"   >
              <div class="media g-mb-30 media-comment" >
                  <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{'http://localhost:9000/'+c.author.img}}"  alt="Image Description">
                  <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                    <div class="g-mb-15">
                      <h5 class="h5 g-color-gray-dark-v1 mb-0">{{c.author.Name}}</h5>
                      <span class="g-color-gray-dark-v4 g-font-size-12">{{c.createdAt|date}}</span>
                    </div>
              
                    <p>{{c.text}}</p>

                    <img src="{{'http://localhost:9000/'+c.img}} " id="commentImg" *ngIf="c.img">
              
               
                  </div>
              </div>
          </div>
      </div>


    

       
     <!--end comment-->
    </div>


<div class="row m-5 " *ngIf="blog==null">
    .......waiting
</div>




















